*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.bottom-hr::after {
  content: "";
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00e0d0;
  margin: 1em auto;
  padding: 0;
  width: 5rem;
}
.transp-btn {
  font-family: 'Quicksand';
  background: none;
  height: 38px;
  border: 1px solid #00e0d0;
  width: 120px;
  padding: 0px;
  font-size: 14px;
  color: #00e0d0;
  margin: 0 auto;
  margin-top: 3rem;
  transition: all 0.3s ease-out;
}
.transp-btn:hover,
.transp-btn:focus {
  color: white;
  background: #00e0d0;
}
.cyan-span {
  color: white;
  transition: 0.5s ease-in-out;
}
.cyan-span:hover {
  color: #00e0d0;
}
.container {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../images/bg-forest.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    height: 670px;
  }
}
.container .header-fixed {
  padding: 20px 40px;
  height: 80px;
  color: white;
  top: -100px;
  transition: top .3s;
}
.container .header-fixed .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.container .header-fixed .header-limiter nav {
  font-family: 'Proxima Nova', Georgia sans-serif;
  font-size: 1.1rem;
  line-height: 40px;
  float: right;
}
.container .header-fixed .header-limiter nav a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
}
.container .header-fixed .header-limiter nav a:hover {
  color: #00e0d0;
}
@media screen and (min-width: 412px) and (max-width: 600px) {
  .container .header-fixed .header-limiter nav {
    float: initial;
  }
}
.container .header-fixed .header-limiter .cyan-span {
  color: white;
  transition: 0.5s ease-in-out;
}
.container .header-fixed .header-limiter .cyan-span:hover {
  color: #00e0d0;
}
.container .header-fixed .header-limiter a {
  color: white;
  text-decoration: none;
}
.container .header-fixed .header-limiter h1 {
  float: left;
  font-family: 'Proxima Nova', Georgia sans-serif;
  font-size: 28px;
  line-height: 40px;
  margin: 0;
}
.container .header-fixed .header-limiter h1 span {
  color: #00e0d0;
}
.container .phead,
.container .pcontent,
.container .center {
  color: white;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 25%;
}
@media screen and (max-width: 768px) {
  .container .phead,
  .container .pcontent,
  .container .center {
    top: 10%;
  }
}
@media screen and (max-width: 568px) {
  .container .phead,
  .container .pcontent,
  .container .center {
    top: 0;
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .container .phead,
  .container .pcontent,
  .container .center {
    top: 0;
  }
}
@media screen and (min-width: 568px) and (max-width: 600px) {
  .container .phead,
  .container .pcontent,
  .container .center {
    top: 10%;
  }
}
.container .phead {
  font-family: 'PlayfairDisplay';
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.3px;
}
.container .pcontent {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.7px;
}
.container .transp-btn {
  margin-bottom: 3rem;
}
.header-fixed-background {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
}
.header-fixed-placeholder {
  height: 80px;
  display: none;
}
body.fixed .header-fixed {
  padding: 10px 40px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
body.fixed .header-fixed .header-limiter h1 {
  font-size: 24px;
  line-height: 1.5rem;
}
body.fixed .header-fixed .header-limiter nav {
  line-height: 28px;
  font-size: 1rem;
}
body.fixed .header-fixed-placeholder {
  display: block;
}
@media screen and (max-width: 600px) {
  .header-fixed {
    padding: 20px 0;
    height: 75px;
  }
  .header-fixed .header-limiter h1 {
    float: none !important;
    margin: -8px 0 10px !important;
    text-align: center !important;
    font-size: 24px !important;
    line-height: 1 !important;
  }
  .header-fixed .header-limiter nav {
    line-height: 1;
    float: none;
  }
  .header-fixed .header-limiter nav a {
    font-size: 13px;
  }
  body.fixed .header-fixed {
    display: none;
  }
}
.main-container {
  width: 100%;
  height: 100%;
}
.main-container .blog {
  display: flex;
  width: 80%;
  align-items: center;
  margin: auto;
  overflow: hidden;
}
.main-container .blog iframe {
  height: 230px;
  width: auto;
}
.main-container .blog h1,
.main-container .blog p,
.main-container .blog .center {
  margin-left: 5rem;
  margin-right: 3rem;
}
.main-container .blog h1 {
  font-family: 'PlayfairDisplay';
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #413d4b;
}
.main-container .blog p {
  font-family: 'Roboto';
  opacity: .75;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: .4px;
  color: #413d4b;
}
.main-container .blog .transp-btn {
  font-family: 'Quicksand';
  background: none;
  height: 38px;
  border: 1px solid #00e0d0;
  width: 120px;
  padding: 0px;
  font-size: 14px;
  color: #00e0d0;
  margin: 0 auto;
  margin-bottom: 1rem;
  transition: all 0.3s ease-out;
}
.main-container .blog .transp-btn:hover,
.main-container .blog .transp-btn:focus {
  color: white;
  background: #00e0d0;
}
@media screen and (max-width: 1024px) {
  .main-container .blog {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .main-container .blog {
    width: 100%;
  }
  .main-container .blog iframe {
    margin-left: 1rem;
  }
  .main-container .blog h1,
  .main-container .blog p,
  .main-container .blog .center {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 568px) {
  .main-container .blog {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .main-container .blog iframe {
    margin-top: 20px;
    margin-left: 0;
  }
  .main-container .blog h1,
  .main-container .blog p,
  .main-container .blog .center {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .blog {
    height: 400px;
  }
}
.parallax {
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../images/bg-town.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 550px;
  margin: 0;
}
.expertise {
  width: 100%;
}
.expertise .exp-content {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
@media screen and (max-width: 568px) {
  .expertise .exp-content {
    padding-bottom: 0;
  }
}
.expertise h1,
.expertise .p-exp-content {
  text-align: center;
  letter-spacing: 1.1px;
  font-family: 'PlayfairDisplay';
  margin: 0;
}
.expertise h1 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #413d4b;
}
.expertise .p-exp-content {
  opacity: 0.75;
  font-size: 0.875rem;
  color: #2F2D35;
}
@media screen and (max-width: 568px) {
  .expertise .p-exp-content {
    width: 80%;
    margin: 0 auto;
  }
}
.expertise .p-exp-content::after {
  border-top: 1px solid #413d4b;
}
.expertise .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.expertise .grid .grid-element {
  height: 250px;
  width: auto;
}
@media screen and (min-width: 568px) and (max-width: 767.98px) {
  .expertise .grid .grid-element {
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  .expertise .grid .grid-element:nth-child(n+1):nth-child(-n+2) {
    border-right: 1px solid #00e0d0;
  }
  .expertise .grid .grid-element:nth-child(n+4):nth-child(-n+5) {
    border-right: 1px solid #00e0d0;
  }
  .expertise .grid .grid-element:nth-child(-n+3) {
    border-bottom: 1px solid #00e0d0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .expertise .grid .grid-element:nth-child(odd) {
    border-right: 1px solid #00e0d0;
  }
  .expertise .grid .grid-element:nth-child(n+1):nth-child(-n+4) {
    border-bottom: 1px solid #00e0d0;
  }
}
@media screen and (max-width: 568px) {
  .expertise .grid .grid-element:nth-child(n+1):nth-child(-n+5) {
    border-bottom: 1px solid #00e0d0;
  }
  .expertise .grid .grid-element .content {
    padding-top: 10px;
  }
}
.expertise .grid .grid-element .content {
  text-align: center;
  width: 70%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 568px) {
  .expertise .grid .grid-element .content {
    width: 100%;
  }
}
.expertise .grid .grid-element .content h1,
.expertise .grid .grid-element .content p {
  font-family: 'Roboto';
  font-size: .875rem;
  letter-spacing: .7px;
}
.expertise .grid .grid-element .content h1 {
  padding-top: 10px;
  font-weight: 900;
  color: #413d4b;
  letter-spacing: .7px;
}
.expertise .grid .grid-element .content p {
  font-weight: 300;
  line-height: 1.57;
  color: rgba(51, 51, 51, 0.75);
}
.expertise .grid .grid-element .content i {
  font-size: 40px;
}
.expertise .grid .grid-element .content .gradient::before {
  background: linear-gradient(to bottom, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .expertise .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .expertise .grid .grid-element {
    height: 200px;
  }
}
@media screen and (max-width: 568px) {
  .expertise .grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .expertise .grid .grid-element {
    height: 200px;
  }
}
.team-blog {
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../images/bg-forest.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.team-blog .team-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
.team-blog .team-content .team-h1,
.team-blog .team-content .team-p {
  font-family: 'PlayfairDisplay';
  letter-spacing: 1.1px;
}
.team-blog .team-content .team-h1 {
  font-size: 1.375rem;
  font-weight: bold;
}
.team-blog .team-content .team-p {
  font-size: .875rem;
}
.team-blog .team-cards {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (min-width: 568px) and (max-width: 768px) {
  .team-blog .team-cards {
    width: 100%;
  }
}
.team-blog .team-cards .card {
  width: 220px;
  height: 310px;
  background: none;
  border: 1px solid white;
  margin-bottom: 35px;
}
.team-blog .team-cards .card .card-content {
  border: 0 1px 1px 1px solid #00e0d0;
}
.team-blog .team-cards .card .card-content h1,
.team-blog .team-cards .card .card-content p {
  font-family: 'Roboto';
  color: white;
}
.team-blog .team-cards .card .card-content h1 {
  font-size: .875rem;
  font-weight: 900;
  letter-spacing: .7px;
}
.team-blog .team-cards .card .card-content p {
  font-size: .8125rem;
  font-weight: 300;
  opacity: 0.7;
}
.team-blog .team-cards .card img {
  height: 240px;
  width: 100%;
}
.team-blog .team-btn {
  text-align: center;
  padding-bottom: 55px;
}
.team-blog .team-btn button {
  margin-top: 0;
}
.team-blog .team-footer {
  text-align: center;
  color: #f3f3f3;
  font-size: .875rem;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: .7px;
  padding-bottom: 25px;
}
@media screen and (max-width: 568px) {
  .team-blog .team-footer {
    width: 70%;
    margin: auto;
  }
}
.gallery {
  width: 100%;
}
.gallery .text-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 20px 40px;
  margin: auto;
}
@media screen and (max-width: 568px) {
  .gallery .text-gallery {
    flex-direction: column;
  }
}
.gallery .text-gallery h1 {
  font-family: 'PlayfairDisplay';
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #413d4b;
}
.gallery .text-gallery a {
  font-family: 'Roboto';
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: .7px;
  text-decoration: none;
  color: #413d4b;
}
.gallery .text-gallery a:hover {
  text-decoration: underline;
}
.gallery .gallery-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 568px) {
  .gallery .gallery-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.gallery .gallery-container .gallery-item {
  height: 200px;
  transition: all .5s ease;
}
@media screen and (max-width: 568px) {
  .gallery .gallery-container .gallery-item {
    height: 100%;
  }
}
@media screen and (min-width: 1024.02px) {
  .gallery .gallery-container .gallery-item:hover {
    transform: scale(1.3);
  }
}
.gallery .gallery-container .gallery-item img {
  height: 100%;
  width: 100%;
}
.gallery .gallery-btn {
  text-align: center;
  padding-bottom: 55px;
}
.gallery .gallery-btn button {
  margin-top: 0;
}
.comments-container {
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../images/bg-forest.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.comments-container .big-quotes,
.comments-container .comment {
  font-family: 'PlayfairDisplay';
  text-align: center;
}
.comments-container .big-quotes {
  font-size: 100px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.9);
  padding-top: 2.5rem;
}
.comments-container .comment {
  width: 60%;
  margin: auto;
  font-size: 1.125rem;
  line-height: 1.63;
  letter-spacing: .4px;
  color: rgba(255, 255, 255, 0.85);
}
@media screen and (max-width: 568px) {
  .comments-container .comment {
    width: 85%;
  }
}
.comments-container .users {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.comments-container .users h1 {
  font-family: 'Roboto';
  font-size: .875rem;
  font-weight: 900;
  line-height: 1.57;
  letter-spacing: .7px;
  color: white;
}
.comments-container .users p {
  font-family: 'Roboto';
  font-size: .8125rem;
  font-weight: 300;
  line-height: 1.69;
  color: rgba(255, 255, 255, 0.7);
}
.comments-container .avatars {
  display: flex;
  width: 25%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.comments-container .avatars img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.comments-container .avatars img:nth-child(n+1):nth-child(-n+4) {
  margin-right: 10px;
}
.comments-container .avatars .big-avatar {
  height: 70px;
  width: 70px;
}
.feedback {
  width: 100%;
}
.feedback .send-feedback {
  text-align: center;
  font-family: 'PlayfairDisplay';
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #413d4b;
  margin: 2.5rem auto 2.5rem;
}
.feedback .transp-btn {
  margin-top: initial;
}
.feedback .flex-feedback {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  text-align: center;
}
.feedback .flex-feedback .center {
  margin-left: 1.5rem;
}
@media screen and (max-width: 568px) {
  .feedback .flex-feedback {
    flex-direction: column;
  }
  .feedback .flex-feedback .center {
    margin-top: 1rem;
    margin-left: initial;
  }
}
.feedback .flex-feedback input {
  padding: .7rem 1rem .7rem;
  height: 38px;
  transition: all 1s ease;
  font-family: 'Roboto';
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
}
.feedback .flex-feedback input::placeholder {
  color: rgba(65, 61, 75, 0.5);
}
.feedback .flex-feedback input:hover::-webkit-input-placeholder,
.feedback .flex-feedback input:focus::-webkit-input-placeholder {
  transition: all 0.5s ease;
}
footer {
  width: 100%;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../images/bg-it.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
footer .grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
  padding-top: 75px;
}
footer .grid-footer .grid-one {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}
footer .grid-footer .grid-one h1 {
  float: left;
  font-family: 'Proxima Nova', Georgia sans-serif;
  font-size: 28px;
  line-height: 40px;
  margin: 0;
}
footer .grid-footer .grid-one h1 a {
  text-decoration: none;
  color: white;
}
footer .grid-footer .grid-one h1 a:hover {
  color: #00e0d0;
}
footer .grid-footer .grid-one h1 span {
  color: #00e0d0;
}
footer .grid-footer .grid-one p {
  font-family: 'Roboto';
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.86;
  letter-spacing: .4px;
  color: white;
}
footer .grid-footer .grid-two {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}
footer .grid-footer .grid-two .icon-footer {
  font-size: 1rem;
}
footer .grid-footer .grid-two h1,
footer .grid-footer .grid-two p {
  font-family: 'Roboto';
  color: white;
}
footer .grid-footer .grid-two h1 {
  font-size: 15px;
  font-weight: 900;
  line-height: 1.73;
  letter-spacing: .8px;
}
footer .grid-footer .grid-two p {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.86;
  letter-spacing: .4px;
}
footer .grid-footer .grid-three {
  display: flex;
  flex-direction: column;
  position: relative;
}
footer .grid-footer .grid-three .social-icon {
  display: inline-block;
  color: white;
  height: 35px;
  width: 35px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}
footer .grid-footer .grid-three .social-icon:hover {
  transition: all 0.5s ease;
  color: #00e0d0;
  border: 1px solid #00e0d0;
}
footer .grid-footer .grid-three .transp-btn {
  margin-top: initial;
  width: 70px;
}
footer .grid-footer .grid-three h1 {
  font-family: 'Roboto';
  color: white;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.73;
  letter-spacing: .8px;
  padding-bottom: 20px;
}
footer .grid-footer .grid-three input {
  padding: .7rem 1rem .7rem;
  height: 38px;
  transition: all 1s ease;
  font-family: 'Roboto';
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
  background: none;
  border: 1px solid #00e0d0;
  color: white;
  margin-bottom: 25px;
}
footer .grid-footer .grid-three input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
footer .grid-footer .grid-three input:hover::-webkit-input-placeholder,
footer .grid-footer .grid-three input:focus::-webkit-input-placeholder {
  transition: all 0.5s ease;
}
@media screen and (min-width: 568.02px) and (max-width: 1279.98px) {
  footer .grid-footer .grid-three input {
    margin-bottom: initial;
  }
  footer .grid-footer .grid-three .transp-btn {
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 568px) {
  footer .grid-footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }
  footer .grid-footer .grid-one,
  footer .grid-footer .grid-two {
    padding-right: initial;
  }
  footer .grid-footer .grid-three input {
    margin-bottom: initial;
  }
  footer .grid-footer .grid-three .transp-btn {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  footer .grid-footer .grid-three .row-icons {
    margin-bottom: 15px;
  }
}
footer .down-flex-info {
  display: flex;
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
  align-items: flex-start;
  padding-bottom: 75px;
}
footer .down-flex-info a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  font-size: .875rem;
  line-height: 1.86;
  letter-spacing: .4px;
  margin-right: 35px;
  transition: all 0.5s ease-in-out;
}
footer .down-flex-info a:hover,
footer .down-flex-info a:focus {
  color: #00e0d0;
}
footer .down-flex-info a:last-child {
  align-self: flex-end;
  margin-right: initial;
  margin-left: auto;
}
@media screen and (max-width: 568px) {
  footer .down-flex-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .down-flex-info a {
    margin-right: initial;
  }
  footer .down-flex-info a:last-child {
    align-self: initial;
    margin-left: initial;
  }
}
