@cyan: #00e0d0;
@violet: #42316b;
@grey: rgb(65, 61, 75);


*, *::before, *::after {
    box-sizing: border-box;
    // transition: .5s ease-out;
}

body {
    margin: 0;
    padding: 0;
}

.bottom-hr {
    &::after {
            content: "";
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid @cyan;
            margin: 1em auto;
            padding: 0;
            width: 5rem;
    }
}

.transp-btn {
    font-family: 'Quicksand';
    background: none;
    height: 38px;
    border: 1px solid @cyan;
    width: 120px;
    padding: 0px;
    font-size: 14px;
    color: @cyan;
    margin: 0 auto;
    margin-top: 3rem;
    transition: all .3s ease-out;

    &:hover, &:focus {
        color: white;
        background: @cyan;
    }
}

.cyan-span {
    color: white;
    transition: .5s ease-in-out;

    &:hover {
        color: @cyan;
    }
}

.container {
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)
    ), url("../images/bg-forest.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed; // for parallax
    width: 100%;
    // height: 670px;

    @media screen and (min-width: 768px) {
        height: 670px;
    }

    @media screen and (max-width: 768px) {
        background-attachment: scroll; //off parallax for tablets and smarts...
    }


    .header-fixed {
        // background-color: rgba(49, 29, 94, 1s);
        padding: 20px 40px;
        height: 80px;
        color: white;
        top: -100px;
        transition: top .3s;

        .header-limiter {
            max-width: 1200px;
            text-align: center;
            margin: 0 auto;

            nav {
                font-family:'Proxima Nova', Georgia sans-serif;
                font-size: 1.1rem;
                line-height: 40px;
                float: right;

                a {
                    display: inline-block;
                    padding: 0 5px;
                    text-decoration: none;
                    color: white;
                    transition: .5s ease-in-out;

                    &:hover {
                        color: @cyan;
                    }
                }
            }

            .cyan-span {
                color: white;
                transition: .5s ease-in-out;

                &:hover {
                    color: @cyan;
                }
            }

            a {
                color: white;
                text-decoration: none;
            }

            h1 {
                float: left;
                font-family: 'Proxima Nova', Georgia sans-serif;
                font-size: 28px;
                line-height: 40px;
                margin: 0;

                span {
                    color: @cyan;
                }
            }
        }
    }

    .phead, .pcontent, .center{
        color: white;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 25%;

        @media screen and (max-width: 568px) {
            top: 0;
            width: 80%;
            // max-width: 70%;
        }

        @media screen and (max-width: 320px) {
            top: 0;
            // max-width: 80%;
        }

        @media screen and (min-width: 568px) and (max-width: 600px) {
            top: 10%;
        }

        @media screen and (max-width: 768px) {
            top: 10%;
        }
    }

    .phead {
        font-family: 'PlayfairDisplay';
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 0.3px;
    }

    .pcontent {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        line-height: 1.7;
        letter-spacing: 0.7px;
    }

    .transp-btn {
        margin-bottom: 3rem;
    }

}

// Set the background when scroll > top of .container

.header-fixed-background {
    background-color: rgba(49, 29, 94, 1);
}


.header-fixed-placeholder {
    height: 80px;
    display: none;
}


// For fixed header

body.fixed {
    .header-fixed {
        padding: 10px 40px;
        height: 50px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;

        .header-limiter {
            h1 {
                font-size: 24px;
                line-height: 1.5rem;
            }

            nav {
                line-height: 28px;
                font-size: 1rem;
            }
        }
    }

    .header-fixed-placeholder {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .header-fixed {
        padding: 20px 0;
        height: 75px;

        .header-limiter {
            h1 {
                float: none !important;
                margin: -8px 0 10px !important;
                text-align: center !important;
                font-size: 24px !important;
                line-height: 1 !important;
            }

            nav {
                line-height: 1;
                float: none;

                a {
                    font-size: 13px;
                }
            }
        }
    }

    body.fixed {
        .header-fixed {
            display: none;
        }
    }
}

.main-container {
    width: 100%;
    height: 100%;

    .blog {
        display: flex;
        width: 80%;
        align-items: center;
        margin: auto;
        overflow: hidden;

      
        iframe {
            height: 230px;
            width: auto;
        }

        h1, p, .center {
            margin-left: 5rem;
            margin-right: 3rem;
        }

        h1 {
            font-family: 'PlayfairDisplay';
            font-size: 1.375rem;
            font-weight: bold;
            letter-spacing: 1.1px;
            color: @grey;
        }

        p {
            font-family: 'Roboto';
            opacity: .75;
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 1.57;
            letter-spacing: .4px;
            color: @grey;
        }

        .transp-btn {
            font-family: 'Quicksand';
            background: none;
            height: 38px;
            border: 1px solid @cyan;
            width: 120px;
            padding: 0px;
            font-size: 14px;
            color: @cyan;
            margin: 0 auto;
            margin-bottom: 1rem;
            transition: all .3s ease-out;

            &:hover, &:focus {
                color: white;
                background: @cyan;
            }
        }

      


        @media screen and (max-width: 1024px) {
            width: 80%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;

            iframe {
                margin-left: 1rem;
            }

            h1, p, .center{
                margin-left: 3rem;
            }
        }

        @media screen and (max-width: 568px) {
            flex-direction: column;
            width: 100%;
            height: auto;

            iframe {
                margin-top: 20px;
                margin-left: 0;
            }

            h1, p, .center {
                text-align: center;
            }
        }

        @media screen and (min-width: 1024px) {
            height: 400px;
        }
    }
}

.parallax {
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)
    ), url("../images/bg-town.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed; // for parallax
    width: 100%;
    height: 550px;
    margin: 0;
}

.expertise {
    width: 100%;

    .exp-content {
        padding-bottom: 3rem;
        padding-top: 3rem;

        @media screen and (max-width: 568px) {
            padding-bottom: 0;
        }
    }

    h1, .p-exp-content {
        text-align: center;
        letter-spacing: 1.1px;
        font-family: 'PlayfairDisplay';
        margin: 0;
    }

    h1 {
        font-size: 1.4rem;
        font-weight: bold;
        color: #413d4b;
    }

    .p-exp-content {
        opacity: 0.75;
        font-size: 0.875rem;
        color: #2F2D35;

        @media screen and (max-width: 568px) {
            width: 80%;
            margin: 0 auto;
        }

        &::after {
            border-top: 1px solid #413d4b;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 3rem;

        .grid-element {
            height: 250px;
            width: auto;

            @media screen and (min-width: 568px) and (max-width: 767.98px) {
                height: auto;
            }

            @media screen and (min-width: 992px) {
                &:nth-child(n+1):nth-child(-n+2) {
                    border-right: 1px solid @cyan;
                }

                &:nth-child(n+4):nth-child(-n+5) {
                    border-right: 1px solid @cyan;
                }

                &:nth-child(-n+3) {
                    border-bottom: 1px solid @cyan;
                }
            }

            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                &:nth-child(odd) {
                    border-right: 1px solid @cyan;
                }

                &:nth-child(n+1):nth-child(-n+4) {
                    border-bottom: 1px solid @cyan;
                }
            }

            @media screen and (max-width: 568px){
                &:nth-child(n+1):nth-child(-n+5) {
                    border-bottom: 1px solid @cyan;
                }

                .content {
                    padding-top: 10px;
                }
            }

            .content {
                text-align: center;
                width: 70%;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);

                @media screen and (max-width: 568px) {
                    width: 100%;
                }

                h1, p {
                    font-family: 'Roboto';
                    font-size: .875rem;
                    letter-spacing: .7px;
                }

                h1 {
                    padding-top: 10px;
                    font-weight: 900;
                    color: #413d4b;
                    letter-spacing: .7px;
                }

                p {
                    font-weight: 300;
                    line-height: 1.57;
                    color: rgba(51, 51, 51, .75);
                }

                i {
                    font-size: 40px;
                }

                .gradient::before { // for gradient
                    background: linear-gradient(to bottom, #00e0d0, #4aa3cc);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    display: initial;
                }
            }
        }

        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;

            .grid-element {
                height: 200px;
            }
        }

        @media screen and (max-width: 568px) {
            grid-template-columns: auto;
            grid-template-rows: auto;

            .grid-element {
                height: 200px;
            }
        }
    }
}

.team-blog {
    width: 100%;
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)
    ), url("../images/bg-forest.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    .team-content {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;

        .team-h1, .team-p {
            font-family: 'PlayfairDisplay';
            letter-spacing: 1.1px;
        }
        .team-h1 {
            font-size: 1.375rem;
            font-weight: bold;
        }

        .team-p {
            font-size: .875rem;
        }
    }

    .team-cards {
        width: 65%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media screen and (min-width: 568px) and (max-width: 768px) {
            width: 100%;
        }

        .card {
            width: 220px;
            height: 310px;
            background: none;
            border: 1px solid white;
            margin-bottom: 35px;

            .card-content {
                border: 0 1px 1px 1px solid @cyan;

                h1, p {
                    font-family: 'Roboto';
                    color: white;
                }

                h1 {
                    font-size: .875rem;
                    font-weight: 900;
                    letter-spacing: .7px;
                }

                p {
                    font-size: .8125rem;
                    font-weight: 300;
                    opacity: 0.7;
                }

            }

            img {
                height: 240px;
                width: 100%;
            }
        }
    }

    .team-btn {
        text-align: center;
        padding-bottom: 55px;
        button {
            margin-top: 0;
        }
    }

    .team-footer {
        text-align: center;
        color: #f3f3f3;
        font-size: .875rem;
        font-family: 'Roboto';
        font-weight: 300;
        letter-spacing: .7px;
        padding-bottom: 25px;
    }
}

.gallery {
    width: 100%;

    .text-gallery {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        padding: 20px 40px;
        margin: auto;

        @media screen and (max-width: 568px) {
            flex-direction: column;
        }

        h1 {
            font-family: 'PlayfairDisplay';
            font-size: 1.375rem;
            font-weight: bold;
            letter-spacing: 1.1px;
            color: #413d4b;
        }

        a {
            font-family: 'Roboto';
            font-size: .875rem;
            font-weight: 300;
            letter-spacing: .7px;
            text-decoration: none;
            color: #413d4b;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .gallery-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-top: 30px;
        padding-bottom: 50px;


        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
        }

        @media screen and (max-width: 568px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .gallery-item {
            height: 200px;

            &:nth-child(odd) {
                background-color: #ddd;
            }

            &:nth-child(even) {
                background-color: burlywood;
            }

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .gallery-btn {
        text-align: center;
        padding-bottom: 55px;

        button {
            margin-top: 0;
        }
    }
}

.comments-container {
    width: 100%;
    background: linear-gradient(to right,
        rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)
        ), url("../images/bg-forest.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed; // for parallax

    .big-quotes, .comment {
        font-family: 'PlayfairDisplay';
        text-align: center;
    }

    .big-quotes {
        font-size: 100px;
        letter-spacing: 3px;
        color: rgba(255, 255, 255, .9);
        padding-top: 2.5rem;
    }

    .comment {
        width: 60%;
        margin: auto;
        font-size: 1.125rem;
        line-height: 1.63;
        letter-spacing: .4px;
        color: rgba(255, 255, 255, .85);

        @media screen and (max-width: 568px) {
            width: 85%;
        }
    }

    .users {
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 3rem;

        h1 {
            font-family: 'Roboto';
            font-size: .875rem;
            font-weight: 900;
            line-height: 1.57;
            letter-spacing: .7px;
            color: white;
        }

        p {
            font-family: 'Roboto';
            font-size: .8125rem;
            font-weight: 300;
            line-height: 1.69;
            color: rgba(255, 255, 255, .7);
        }
    }

    .avatars {
        display: flex;
        width: 25%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;

        img {
            height: 45px;
            width: 45px;
            border-radius: 50%;

            &:nth-child(n+1):nth-child(-n+4) {
                margin-right: 10px;
            }
        }

        .big-avatar {
            height: 70px;
            width: 70px;
        }
    }
}

.feedback {
    width: 100%;

    .send-feedback {
        text-align: center;
        font-family: 'PlayfairDisplay';
        font-size: 1.375rem;
        font-weight: bold;
        letter-spacing: 1.1px;
        color: #413d4b;
        margin: 2.5rem auto 2.5rem;
    }

    .transp-btn {
        margin-top: initial;
    }

    .flex-feedback {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;
        text-align: center;

        .center {
            margin-left: 1.5rem;
        }

        @media screen and (max-width: 568px) {
            flex-direction: column;

            .center {
                margin-top: 1rem;
                margin-left: initial;
            }
        }

        input {
            padding: .7rem 1rem .7rem;
            height: 38px;
            transition: all 1s ease;
            font-family: 'Roboto';
            font-size: .875rem;
            font-weight: 300;
            text-align: left;

            &::placeholder {
                color: rgba(65, 61, 75, 0.5);
            }

            &:hover::-webkit-input-placeholder,
            &:focus::-webkit-input-placeholder {
                transition: all 0.5s ease;
            }
        }
    }
}

footer {
    width: 100%;
    background: linear-gradient(
        to right, rgba(9, 5, 47, .85), rgba(49, 29, 94, .85)),
        url("../images/bg-it.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;


    .grid-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        width: 100%;
        max-width: 65%;
        margin: 0 auto;
        padding-top: 75px;

        
        .grid-one {
            display: flex;
            flex-direction: column;
            padding-right: 25px;
            h1 {
                float: left;
                font-family: 'Proxima Nova', Georgia sans-serif;
                font-size: 28px;
                line-height: 40px;
                margin: 0;


                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: @cyan;
                    }
                }

                span {
                    color: @cyan;
                }
            }

            p {
                font-family: 'Roboto';
                font-size: .875rem;
                font-weight: 300;
                line-height: 1.86;
                letter-spacing: .4px;
                color: white;
            }
        }

        .grid-two {
            display: flex;
            flex-direction: column;
            padding-right: 25px;

            .icon-footer {
                font-size: 1rem;
            }

            h1, p {
                font-family: 'Roboto';
                color: white;
            }

            h1 {
                font-size: 15px;
                font-weight: 900;
                line-height: 1.73;
                letter-spacing: .8px;
            }

            p {
                font-size: .875rem;
                font-weight: 300;
                line-height: 1.86;
                letter-spacing: .4px;
            }
        }

        .grid-three {
            display: flex;
            flex-direction: column;
            position: relative;

            .social-icon {
                display: inline-block;
                color: white;
                height: 35px;
                width: 35px;
                border: 1px solid white;
                border-radius: 50%;
                text-align: center;
                line-height: 35px;

                &:hover {
                    transition: all 0.5s ease;
                    color: @cyan;
                    border: 1px solid @cyan;
                }
            }

            .transp-btn {
                margin-top: initial;
                width: 70px;
            }

            h1 {
                font-family: 'Roboto';
                color: white;
                font-size: 15px;
                font-weight: 900;
                line-height: 1.73;
                letter-spacing: .8px;
                padding-bottom: 20px;
            }

            input {
                padding: .7rem 1rem .7rem;
                height: 38px;
                transition: all 1s ease;
                font-family: 'Roboto';
                font-size: .875rem;
                font-weight: 300;
                text-align: left;
                background: none;
                border: 1px solid @cyan;
                color: white;
                margin-bottom: 25px;

                &::placeholder {
                    color: rgba(255, 255, 255, .75);
                }

                &:hover::-webkit-input-placeholder,
                &:focus::-webkit-input-placeholder {
                    transition: all 0.5s ease;
                }
            }
        }

        @media screen and (min-width: 568.02px) and (max-width: 1279.98px) {
            .grid-three {
                input {
                    margin-bottom: initial;
                }

                .transp-btn {
                    margin: 0 auto;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
            }
        }

        @media screen and (max-width: 568px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            text-align: center;

            .grid-one, .grid-two {
                padding-right: initial;
            }

            .grid-three {
                input {
                    margin-bottom: initial;
                }

                .transp-btn {
                    margin-bottom: 15px;
                    margin-top: 15px;
                }

                .row-icons {
                    margin-bottom: 15px;
                }
            }
        }

    }

    .down-flex-info {
        display: flex;
        width: 100%;
        max-width: 65%;
        margin: 0 auto;
        align-items: flex-start;
        padding-bottom: 75px;

        a {
            text-decoration: none;
            color: white;
            font-family: 'Roboto';
            font-size: .875rem;
            line-height: 1.86;
            letter-spacing: .4px;
            margin-right: 35px;

            &:last-child {
                align-self: flex-end;
                margin-right: initial;
                margin-left: auto;
            }
        }

        @media screen and (max-width: 568px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                margin-right: initial;

                &:last-child {
                    align-self: initial;
                    margin-left: initial;
                }
            }
        }
    }
}